<li ng-repeat="prato in dados.food | filter: searchFood as results" >

  <img src="images/pizza.png" ng-show="prato.cuisine == 'pizza'">
  <img src="images/hamburguer.png" ng-show="prato.cuisine == 'burgers'">
  <img src="images/bebida1.png" ng-show="prato.cuisine == 'beverage'">
  <img src="images/prato3.png" ng-show="prato.cuisine == 'salad'">
  <img src="images/prato1.png" ng-show="prato.cuisine == 'chinese'">

  <div class="descricao">

    <h3>{{prato.title}}</h3>
    <h4>{{prato.price | currency}}</h4>
    <button ng-click="pedidoRealizado(prato.title, prato.price)">adicionar</button>

  </div>


</li>

<h2 ng-show="results.length < 1">{{results.length}} Results</h2>